*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(90deg,rgb(141, 171, 223),rgb(239, 148, 148));
     font-family:  Courier New,Courier,monospace;
  }